#topSection{
    position:   fixed;
    top:        0px;
    left:       0px;
    width:      100%;
    height:     20%;
    background-color: #99e6ff;
    outline:    2px solid #006080;
    padding:    8px;
    /*border:     5px solid coral;
    /*border-color: cornflowerblue;*/
}
#sidebar{
    position:   fixed;
    top:        20%;
    left:       0px;
    width:      15%;
    height:     80%;
    background-color: #33ccff;
    outline:    2px solid #006080;
    padding:    8px;
    /*border:     5px solid coral;
    /*border-color: cornflowerblue;*/
}
#mainSection{
    position:   fixed;
    top:        20%;
    left:       15%;
    width:      85%;
    height:     80%;
    background-color: #0086b3;
    outline:    2px solid #006080;
    padding:    8px;
    /*border:     5px solid coral;
    /*border-color: cornflowerblue;*/
}